apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: loan-app-pod-autoscaler
  namespace: intel-sgx-loan-app
  labels:
    app: loan-app
spec:
  maxReplicas: 5
  minReplicas: 1
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: sgx-loan-app
  targetCPUUtilizationPercentage: 50